<strong>Olá, {{ student }}</strong>
<p>A sua mátricula foi realizada! Confira seus dados abaixo.</p>
<p>
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Início da matrícula: </strong> {{ start_date }} <br />
</p>
